{
  "presets": [
     "@babel/preset-react",
     "@babel/preset-env"
    ],
  "plugins": ["@babel/plugin-transform-runtime",
     "@babel/transform-arrow-functions",
     "transform-class-properties"
    ]
}