.article-list {
  /*margin: 0 20px;*/
}
.my-article-list-item {
  border-bottom: 1px dashed #ccc;
  background: #fff;
  padding: 0 20px;
}

.article-list-header {
  margin: 0 auto;
  border-bottom: 2px solid #ce3939;
  font-size: 14px;
  padding: 10px;
}