.topic-list-item .topic-user {
  display: flex;
  align-items: center;
}

.topicitemcon {
  border-bottom: 1px #ccc solid;
  padding: 20px 10px;
}

.tp-user-img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.tp-user-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: block;
}

.tp-comment>a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 24px;
  cursor: pointer;
  line-height: 24px;
  border-radius: 5px;
  text-align: center;
  float: right;
  margin-left: 15px;
  border: 1px solid #ccc;
}

.tp-comment>a img {
  width: 16px;
  margin: 4px;
  height: 16px;
}

.topic-list-item .topic-detail {
  padding: 1.2em 0;
  font-size: 14px;
  margin: 0 0 10px;
  text-align: left;
}

.topic-list-item .topic-imgs {
  zoom: 1;
  list-style: none;
  padding-left: 0;
  max-width: 600px;
  margin-bottom: 0px;
}

.topic-imgs .topic-img {
  float: left;
  margin: 0px 10px 10px 0px;
  max-width: 150px;
}

.topic-list-item .topic-img img {
  height: 100px;
  max-height: 150px;
  width: 100%;
}