.order-item {
  margin-bottom: 20px;
  background: #fff;
  border-bottom: 1px dashed #ccc;
}

.order-info {
  line-height: 36px;
  border-bottom: 1px dashed #ddd;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-around;
}

.order-info a {
  text-decoration: underline;
}

.group-cmpt-info {
  list-style: none;
  padding-left: 0;
}