.topic-comment-title {
  position: relative;
  text-align: center;
  font-size: 20px;
}

.topic-comment-title::before {
  content: "";
  border-top: 1px dotted #454545;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 45%;
}

.topic-comment-title::after {
  content: "";
  border-top: 1px dotted #454545;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 45%;
}